@(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>EDIT Art Prindle Construction</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"> 
        <!--<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">--> 
    </head>
    <body>
        
        <header class="topbar">
            <h1 class="fill">
                <a href="@routes.Application.index()">
                    Art Prindle Construction
                </a>
            </h1>
        </header>
        
        <section id="main">
            @content
        </section>
        
    </body>
</html>
